@layout('layouts.main')

@section('title')
houseKeeeper - Lista de los objetos 
@endsection

@section('content')
  <h1>Objetos</h1>

  <div class="item-container">
    <div class="blank"></div>
    <div class="item-info">
      <h3>Objeto</h3>
      <p>Descripcion.</p>
    </div>
  </div>
@endsection
